body {
  background: linear-gradient(to bottom right, #0000FF, #IKF);
  color: #0PA;
}

.messages-container {
  background-color: #262626;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  max-height: 400px;
  overflow-y: scroll;
}

.message {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message .username {
  font-weight: bold;
  color: #fff;
}

.message .timestamp {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}

.message .content {
  margin-left: 20px;
}

.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.input-container input[type="text"] {
  flex: 1;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 5px;
  margin-right: 10px;
}

.input-container button[type="submit"] {
  height: 30px;
  border-radius: 5px;
  border: none;
  background-color: #4f4f4f;
  color: #fff;
  padding: 5px 10px;
}
